{% extends 'base.html' %}

{% block title %}Bienvenido a BuscaPelis{% endblock %}

{% block content %}
    <div class="container col-xxl-8 px-4 py-5">
        <h1 class="display-4">¡Bienvenido a BuscaPelis!</h1>
        <h5 class="lead">Soy tu asistente personal para recomendarte películas. ¿Te gustaría recibir una recomendación personalizada? ¡Puedo sugerir películas de terror, acción, comedia, o incluso sorpresas que nunca has visto!</h5>
        
        <div class="mb-4 mt-16">
            <h2>¿Qué quieres hacer?</h2>
            <div class="d-flex flex-column">
                <a href="/chat" class="btn btn-primary mb-2">Ir al Chat</a>
                <a href="/configuration" class="btn btn-primary mb-2">Editar Perfíl</a>
            </div>
        </div>
    </div>
{% endblock %}
