{% extends 'base.html' %}

{% block title %}Bienvenido a BuscaPelis{% endblock %}

{% block content %}
    <div class="container col-xxl-8 px-4 py-5">
        <!-- Sección de bienvenida -->
        <div class="mb-5">
            <h1 class="display-4">¡Bienvenido a BuscaPelis!</h1>
            <h5 class="lead">
                Preguntale a <b>SofIA</b>, tu asistente personal para recomendarte películas. 
                ¿Te gustaría recibir una recomendación personalizada? 
                ¡Ve y conversa con <b>SofIA</b>!
            </h5>
        </div>
        
        <!-- Sección de opciones de acción -->
        <div class="mb-4 mt-4">
            <h2>¿Qué quieres hacer?</h2>
            <div class="d-flex flex-column">
                <a href="/chat" class="btn btn-primary mb-2">Hablar con SofIA</a>
                <a href="/configuration" class="btn btn-primary mb-2">Editar Perfil</a>
            </div>
        </div>
    </div>
{% endblock %}
